 html, body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.body {
    width: 100%;
    background: rgb(20, 20, 20);
    padding: 0px;
    font-family: 'Montserrat';
    margin: 0 auto;
    font-size: 16px;
}

.main {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
}

.background {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
    height: 100%;
  	z-index: -1;
}

.header {
    width: 100%;
    text-align: center;
    color: #5CA17C; /*non-webkit fallback*/
    background: -webkit-linear-gradient(0deg, rgb(0, 255, 191), rgb(0, 255, 255),	rgb(0, 191, 255), rgb(0, 0, 255),rgb(128, 0, 255),rgb(225, 0, 255),  rgb(255, 0, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 50px;
}

@supports (-ms-ime-align:auto) {
    .header {
        width: 100%;
        text-align: center;
        color:#00ffff;
        padding-top: 50px;
    } 
}


h1 {
  font-size: 190px;
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0;
  /* opacity: 1; */
}

img {
    width: 3.5%;
}

.icon-list {
    flex-direction: row;
    list-style: none;
    text-align: center;
    text-decoration: none;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}

li {
    text-align: center;
    display: initial;
    padding-left: 5px;
    padding-right: 10px;
}

.zoom img {  
    transition: .2s;
}

.zoom:hover img {
    width: 3.75%;
    transition: .2s;
}

.footer {
    color: #FFE4C4;
    font-size: 1em;
    margin-top: 10px;
    opacity: 1;
    text-align: center;
}

.heart {
    color: #f95959;
}

.fade-right {
    -moz-animation-duration: 2s;
    -moz-animation-name: faderight;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: faderight;
    animation-name: faderight;
    animation-duration: 2s;
}

@-webkit-keyframes faderight {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes faderight {
    0% {opacity: 0}
    100% {opacity: 1}
  }

@-moz-keyframes faderight {
    0% {opacity: 0}
    100% {opacity: 1}
  }

.animation {
    -moz-animation-duration: 2.5s;
    -moz-animation-name: anima;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-name: anima;
    animation-name: anima;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes anima {
    0% {top: -30px; opacity: 0}
    100% {top: 0px; opacity: 1}
}

@keyframes anima {
    0% {top: -30px; opacity: 0}
    100% {top: 0px; opacity: 1}
}

@-moz-keyframes anima {
    0% {top: -30px; opacity: 0}
    100% {top: 0px; opacity: 1}
}

.footer-anim {
    -moz-animation-duration: 4s;
    -moz-animation-name: foot-anim;
    -webkit-animation-duration: 4s;
    -webkit-animation-name: foot-anim;
    animation-name: foot-anim;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes foot-anim {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes foot-anim {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-moz-keyframes foot-anim {
    0% {opacity: 0}
    100% {opacity: 1}
}

@media screen and (max-width: 1050px) {
    h1 {
        padding: 0;
        font-size: 115px;
    }
    img {
        width: 6%;
    }
    canvas {
        width: 100%;
  }
} 

@media screen and (max-width: 700px) {
    h1 {
        padding: 0;
        font-size: 50px;
    }
    img {
        width: 12%;
    }
    .fade-right {
        -webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
        animation: none !important; 
    }
} 

